a:link {
  color: MidnightBlue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgba(23, 47, 78, 0.795);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: MediumTurquoise;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: MediumTurquoise;
  background-color: transparent;
  text-decoration: none;
}

h1{
  color: black;
  text-align: center;
  font-weight: bold;
  margin:3;
}

h4{
  text-align: center
}

ol{
  font-size: 20px;
}

.nclip{
  font-size: 18px;
}

h4{
  border-bottom:2px darkcyan solid;
  padding-bottom:20px;
  margin:0;
}

ol{
  border-right:2px solid gray;
  width: 120px;
  padding:20px;
  margin:2px;
}


 #grid{
    display: grid;
    grid-template-columns: 180px 1fr;
  }