a:link {
  color: MidnightBlue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgba(23, 47, 78, 0.795);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: MediumTurquoise;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: MediumTurquoise;
  background-color: transparent;
  text-decoration: none;
}

h1{
  color: black;
  text-align: center;
  font-weight: bold;
}

h4{
  text-align: center
}

ol{
  font-size: 20px;
}

.nclip{
  font-size: 18px;
}

.h1test{
  border:5px darkcyan solid;
  padding:5px;
}
